<section class="site-section" id="section-portfolio">
    <div class="container">
        <div class="col-md-12 mb-5">
            <div class="section-heading text-center">
                <h2>Mis <strong>Trabajos</strong></h2>
            </div>
        </div>

        <div class="card-group">
            <div class="row d-flex justify-content-center m-1">
                <div class="card col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 m-1">
                    <img class="card-img-top p-2" src="../../../assets/images/blogsandra.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text text-center"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="text-center">
                            <a href="#"><button class="btn">Ver</button></a>
                        </div>
                    </div>
                </div>
                <div class="card col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3  m-1">
                    <img class="card-img-top p-2" src="../../../assets/images/coche.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text text-center"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="text-center">
                            <a href="#"><button class="btn">Ver</button></a>
                        </div>
                    </div>
                </div>
                <div class="card col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3  m-1">
                    <img class="card-img-top p-2" src="../../../assets/images/rockets.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text text-center"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="text-center">
                            <a href="#"><button class="btn">Ver</button></a>
                        </div>
                    </div>
                </div>
                <div class="card col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3  m-1">
                    <img class="card-img-top p-2" src="../../../assets/images/leaflet.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text text-center"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="text-center">
                            <a href="#"><button class="btn">Ver</button></a>
                        </div>
                    </div>
                </div>
                <div class="card col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3  m-1">
                    <img class="card-img-top p-2" src="../../../assets/images/leaflet.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text text-center"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="text-center">
                            <a href="#"><button class="btn">Ver</button></a>
                        </div>
                    </div>
                </div>
                <div class="card col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3  m-1">
                    <img class="card-img-top p-2" src="../../../assets/images/leaflet.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text text-center"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="text-center">
                            <a href="#"><button class="btn">Ver</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>