<section id="section-portfolio">
    <div class="container">
        <div class="col-md-12 mb-5 mt-5">
            <div class=" text-center ">
                <h2 class="title1">Mis <strong class="title">Trabajos</strong></h2>
            </div>
        </div>
        <section class=" pb-5">
            <div class="container">
              <div class="row">
                  <div class="col-6">
                      
                  </div>
                  <div class="col-6 text-right">
                      <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                          <i class="fa fa-arrow-left"></i>
                      </a>
                      <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                          <i class="fa fa-arrow-right"></i>
                      </a>
                  </div>
                  <div class="col-12">
                      <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                              <div class="carousel-item active">
                                  <div class="row">
                                      <div class="start col-md-4 mb-3">
                                          <div class="card">
                                              <img class="img-fluid" alt="100%x280" src="../../../assets/images/leaflet.png">
                                              <div class="card-body">
                                                  <h4 class="card-title">Escoge tu Restaurante</h4>
                                                  <p class="card-text">Proyecto desarrollado Leafleat</p>
                                                  <div class="text-center">
                                                    <a href="https://github.com/ieneka/Leaflet/tree/api" target="_blank"><button class="btn w-100">Ver</button></a>
                                                  </div>
          
                                              </div>
          
                                          </div>
                                      </div>
                                      <div class="start col-md-4 mb-3">
                                          <div class="card">
                                              <img class="img-fluid" alt="100%x280" src="../../../assets/images/coche.PNG">
                                              <div class="card-body">
                                                  <h4 class="card-title">Crea tu coche</h4>
                                                  <p class="card-text">Primer Proyecto desarrollado en Typescript</p>
                                                  <div class="text-center">
                                                    <a href ="https://github.com/ieneka/typescript" target="_blank"><button class="btn w-100">Ver</button></a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="start col-md-4 mb-3">
                                          <div class="card">
                                              <img class="img-fluid" alt="100%x280" src="../../../assets/images/rockets.PNG">
                                              <div class="card-body">
                                                  <h4 class="card-title">Rockets</h4>
                                                  <p class="card-text">Proyecto desarrollado en Typescript</p>
                                                  <div class="text-center">
                                                    <a href="https://github.com/ieneka/Typescript-Coets" target="_blank"><button class="btn w-100">Ver</button></a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="carousel-item">
                                  <div class="row">
                                      <div class="start col-md-4 mb-3">
                                          <div class="card">
                                              <img class="img-fluid" alt="100%x280" src="../../../assets/images/blogsandra.PNG">
                                              <div class="card-body">
                                                  <h4 class="card-title">GoodTravel</h4>
                                                  <p class="card-text">Blog de viajes en Bootstrap</p>
                                                  <div class="text-center">
                                                    <a href="https://github.com/ieneka/Goodtravel" target="_blank"><button class="btn w-100">Ver</button></a>
                                                  </div>
                                              </div>
          
                                          </div>
                                      </div>
                                      <div class="start col-md-4 mb-3">
                                          <div class="card">
                                              <img class="img-fluid" alt="100%x280" src="../../../assets/images/Captura2.PNG">
                                              <div class="card-body">
                                                  <h4 class=" card-title">LOTR</h4>
                                                  <p class="card-text">Proyecto en Angular Animado</p>
                                                  <div class="text-center">
                                                    <a href="https://github.com/ieneka/LOTR" target="_blank"><button class="btn w-100">Ver</button></a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="start col-md-4 mb-3">
                                          <div class="card">
                                              <img class="img-fluid" alt="100%x280" src="../../../assets/images/team.PNG">
                                              <div class="card-body">
                                                  <h4 class="card-title">Football Academy</h4>
                                                  <p class="card-text">Proyecto Grupal desarrollado en Angular</p>
                                                  <div class="text-center">
                                                    <a href="https://github.com/ieneka/Soccer" target="_blank"><button class="btn w-100">Ver</button></a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </section>
    </div>
</section>