<section class="site-section" id="section-about" [@enterState]>
    <div class="container ">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                <img src="../assets/images/image_1.jpg" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-5 pl-lg-5">
                <div class="section-heading">
                    <h2>Sobre <strong>Mí</strong></h2>
                </div>
                <p class="lead">Resido en Barcelona, tengo 26 años y desde los 18 formo parte del mundo laboral. En los
                    últimos años sufría de frustración profesional y decidí hacer un cambio.</p>
                <p class="mb-5  ">Aprovechando un confinamiento mundial y mi despido continúe formándome, ya como
                    profesional de lo que realmente me gustaba, la programación y el desarrollo web. Soy Desarrollador
                    Front End Junior especializado en Angular, con muchas ganas de seguir aprendiendo y comenzar mi
                    viaje por esta profesión.</p>

                <p>
                    <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Contáctame</a>
                    <a href="#" class="btn btn-secondary px-4 py-2 btn-sm">Descarga CV</a>
                </p>
            </div>
        </div>


    </div>
</section>


<section class="site-section pb-0" id="section-services">
    <div class="container">
        <div class="row mb-4 ">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Mis <strong>Habilidades</strong></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center mb-5">
                <div class="site-service-item ">
                    <span class="icon" [@enterIcon]>
                        <span><img src="../assets/iconos/angular.png" alt=""></span>
                    </span>
                    <h3 class="mb-4"><strong>ANGULAR</strong></h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5">
                <div class="site-service-item ">
                    <span class="icon" [@enterIcon]>
                        <span><img src="../assets/iconos/boostrap.png" alt=""></span>
                    </span>
                    <h3 class="mb-4"><strong>BOOSTRAP</strong></h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5">
                <div class="site-service-item ">
                    <span class="icon" [@enterIcon]>
                        <span><img src="../assets/iconos/typescript.png" alt=""></span>
                    </span>
                    <h3 class="mb-4"><strong>TYPESCRIPT</strong></h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5">
                <div class="site-service-item ">
                    <span class="icon" [@enterIcon]>
                        <span><img src="../assets/iconos/javascript.png" alt=""></span>
                    </span>
                    <h3 class="mb-4"><strong>JAVASCRIPT</strong></h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5">
                <div class="site-service-item ">
                    <span class="icon" [@enterIcon]>
                        <span><img src="../assets/iconos/html.png" alt=""></span>
                    </span>
                    <h3 class="mb-4"><strong>HTML</strong></h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5">
                <div class="site-service-item ">
                    <span class="icon" [@enterIcon]>
                        <span><img src="../assets/iconos/css.png" alt=""></span>
                    </span>
                    <h3 class="mb-4"><strong>CSS</strong></h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5">
                <div class="site-service-item ">
                    <span class="icon" [@enterIcon]>
                        <span><img src="../assets/iconos/sass.png" alt=""></span>
                    </span>
                    <h3 class="mb-4"><strong>SASS</strong></h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5">
                <div class="site-service-item ">
                    <span class="icon" [@enterIcon]>
                        <span><img src="../assets/iconos/hoja.png" alt=""></span>
                    </span>
                    <h3 class="mb-4"><strong>LEAFLET</strong></h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5">
                <div class="site-service-item ">
                    <span class="icon" [@enterIcon]>
                        <span><img src="../assets/iconos/jquery.png" alt=""></span>
                    </span>
                    <h3 class="mb-4"><strong>JQUERY</strong></h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5">
                <div class="site-service-item ">
                    <span class="icon" [@enterIcon]>
                        <span><img src="../assets/iconos/mysql.png" alt=""></span>
                    </span>
                    <h3 class="mb-4"><strong>MYSQL</strong></h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5">
                <div class="site-service-item ">
                    <span class="icon" [@enterIcon]>
                        <span><img src="../assets/iconos/git.png" alt=""></span>
                    </span>
                    <h3 class="mb-4"><strong>GITHUB</strong></h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5">
                <div class="site-service-item ">
                    <span class="icon" [@enterIcon]>
                        <span><img src="../assets/iconos/photoshop.png" alt=""></span>
                    </span>
                    <h3 class="mb-4"><strong>PHOTOSHOP</strong></h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>