<section class="site-section " id="section-resume">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="section-heading text-center">
                    <h2>Mi <strong>Currículum</strong></h2>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="mb-5">Formación</h2>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> Junio 2020 - Octubre 2020</span>
                    <h3>Front End Developer </h3>
                    <span class="school">Barcelona IT Academy</span><p>Bootcamp desarrollado por IT Academy Barcelona, dedicado al FrontEnd especializado en Angular, donde se tratan las siguientes herramientas:
                        -HTML -JavaScript -Bootstrap -Jquery -Angular
                        -CSS -Sass -Typescript -Leaflet -Mysql -Git</p>
                </div>
	
				<div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> Noviembre 2019 - Enero 2020</span>
                    <h3>Google (Introducción al Desarrollo web: HTML, CSS)</h3>
                    <span class="school">Instituto Economía Internacional</span>
                </div>
				
				<div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> Junio 2019 - Septiembre 2019</span>
                    <h3>Posicionamiento web - SEO</h3>
                    <span class="school">Femxa</span>
                </div>
				
				<div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> Junio 2019 - Septiembre 2019</span>
                    <h3>Redes Sociales - Community Manager</h3>
                    <span class="school">Femxa</span>
                </div>
				
				<div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> Septiembre 2010 - Junio 2012</span>
                    <h3>Bachillerato</h3>
                    <span class="school">I.E.S Joanot Martorell</span>
                </div>

            </div>
            <div class="col-md-6">


                <h2 class="mb-5">Experiencia</h2>
                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> Septiembre 2021 - Actualidad</span>
                    <h3>Freelance FrontEnd Developer</h3>
                    <p>Trabajos ocasionales de desarrollo web.</p>
                    <span class="school">Freelance</span>
                </div>

                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> Mayo 2020 - Diciembre 2020</span>
                    <h3>Desarrollador Web Ecommerce</h3>
                    <p>Proyecto de E-commerce.
                        Diseño y creación de marca, desarrollo web con Prestashop y Shopify. Marketing en Facebook Ads y marketing de Influencers.</p>
                    <span class="school">Kukimura</span>
                </div>

                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> Enero 2020 - Abril 2020</span>
                    <h3>Encargado de oficina</h3>
                    <p>Encargado de llevar la contabilidad diaria en holded, recaudación y preparación de rutas de reparto.</p>
                    <span class="school">Belarus Trading S.A</span>
                </div>

                <div class="resume-item mb-4">
                    <span class="date"><span class="icon-calendar"></span> Julio 2017 - Agosto 2018</span>
                    <h3>Autónomo en logística</h3>
                    <p>Trabajos de almacén y reparto del producto. Reposición y contacto con el cliente.</p>
                    <span class="school">Prat Munne S.L.</span>
                </div>


            </div>
        </div>
    </div>
</section>
<script>ScrollReveal().reveal('resume-item')</script>